# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
.Python
venv/
.venv/
env/
ENV/
logging/
# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Airflow
# =========================
airflow/logs/
airflow/plugins/
airflow/airflow.db
airflow/standalone_admin_password.txt
airflow/webserver_config.py

# =========================
# dbt
# =========================
dbt/stock_dbt_project/target/
dbt/stock_dbt_project/logs/
dbt/dbt_packages/
dbt_packages/
logs/
target/

# =========================
# Spark / Kafka Logs
# =========================
logging/
*.log

# =========================
# CSV / generated data
# =========================
data/*.csv
!data/.gitkeep

# =========================
# Validation / error outputs
# =========================
errors_*.csv
schema_errors_*.csv

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.pid
*.sock

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / cache
# =========================
.cache/
pytest_cache/
.mypy_cache/

# =========================
# Terraform (nếu có sau này)
# =========================
.terraform/

# =========================
# Secrets / keys
# =========================
*.pem
*.key
fernet_key*
logging/